<div ng-controller='AudioCtrl'>

    <ng-audio-recorder id="mainAudio" audio-model="recorded" show-player="false" time-limit="timeLimit">

    
        <div ng-if="recorder.isAvailable" class="recorder-buttons">

            <div ng-if="recorder.status.isDenied === true" style="color: red;">
                Can Logjam use your microphone to record?
            </div>
            <button class="btn" ng-click="recorder.startRecord()" type="button"
                    ng-disabled="recorder.status.isDenied === true || recorder.status.isRecording">
                Start Record
            </button>
            <button class="btn"ng-click="recorder.stopRecord()" type="button" ng-disabled="recorder.status.isRecording === false">
                Stop Record
            </button>

            <button class="btn"ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()"
                    type="button" ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                {{recorder.status.isStopped || recorder.status.isPaused ? 'Play' : 'Pause'}}
            </button>

            <button class="btn" ng-click="recorder.save(title)" ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                Download
            </button>

            <div style="max-width: 600px">
                <div ng-show="recorder.status.isConverting">
                    Please wait while your recording is processed.
                </div>

                <div ng-show="recorder.isHtml5 && recorder.status.isRecording">
                    <ng-audio-recorder-analyzer></ng-audio-recorder-analyzer>
                </div>
                <br/>

                <div ng-show="!recorder.status.isRecording && recorder.audioModel">
                    <ng-audio-recorder-wave-view wave-color="green" bar-color="red"></ng-audio-recorder-wave-view>
                </div>
            </div>
        </div>


        <div ng-if="!recorder.isAvailable">
            Your browser does not support this feature natively, please use latest version of <a
                href="https://www.google.com/chrome/browser" target="_blank">Google Chrome</a> or <a
                href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>. If you're on
            Safari or Internet Explorer, you can install <a href="https://get.adobe.com/flashplayer/">Adobe Flash</a> to
            use this feature.
        </div>
 
        <input type="text" ng-model="title" placeholder="click here to name the audio file">
    </ng-audio-recorder>

</div>
