<h6><strong>LOGJAM</strong></h6>
<h6>a minimalist, intuitve way to record sketches of lyrics and music</h4>

<div class="container">
  <form class="col s12" ng-submit="login()">
  <div class="row">
      <div>
        <input placeholder="email" id="email" type="email" class="validate" spellcheck="false" ng-model="email">
      </div>
      <div>
        <input placeholder="password" id="password" type="password" class="validate" ng-model="password">

      </div>
      <a ng-click='login()' class="btn">Login</a>
      <a ng-href='/#/register' class="btn">Register</a>
    </div>
  </form>
</div>


