<div class="container center-align">

  <h5 class="v-headspace">LOGJAM</h5>

  <form class="col s12" ng-submit="login()">
    <div class="row">
      <div>
        <input placeholder="email" id="email" type="email" autocomplete="off" class="validate" spellcheck="false" ng-model="email">
      </div>
      <div>
        <input placeholder="password" id="password" type="password" class="validate" ng-model="password">
      </div>
      <a ng-click='login()' class="btn">Login</a>
    </div>
  </form>

</div>
