<!-- NAV -->
<!--   <nav>
    <div class="nav-wrapper">
      <span class="brand-logo left">LOGJAM</span>
      <ul class="right">
        <li><input type="search" placeholder="search jams" ng-model="searchJams" required></li>
        <li><a ng-href="/#/myJams">My Jams</a></li>
        <li><a ng-href="/#/newJam">New Jam</a></li>
        <li><a ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
 -->


<ul class="navigation">
  <li><a ng-href="/#/myJams" class="btn">My Jams</a></li>
  <li><a ng-href="/#/newJam" class="btn">New Jam</a></li>
  <li><a ng-href="/#/audio" class="btn">Record</a></li>
  <li><a ng-click="logout()" class="btn">Logout</a></li>
</ul>
<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>
<div class="site-wrap">

  <input type="search" placeholder="search my jams" ng-model="searchJams" required>


  <div class="center-align" ng-repeat="song in allUserJams | filter: searchJams">

  <a ng-href="/#/viewJam/{{song._id}}">{{song.title}}</a>

</div>


