<h1>New Jam</h1>

<nav>
  <div class="nav-wrapper">
    <span class="brand-logo left">LOGJAM</span>
    <ul class="right">
      <li><a ng-href="/#/myJams">My Jams</a></li>
      <li><a ng-href="/#/newJam">New Jam</a></li>
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
  </div>
</nav>


<form ng-submit="saveNewJam()">
  
  <div>
    <input id="title" name="title" type="text" ng-model="title" placeholder="title">
    <label for="title"></label>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea  id=" textarea1" name="lyric" class="materialize-textarea" type="textarea" ng-model="lyric" placeholder="lyrics">Lyric</textarea>
    </div>  
  </div>
  <button type="submit" class="btn">Save</button>
</form>

<!-- Modal Trigger -->
<div class="col">
    <a class='btn modal-trigger' href='#recordModal'>Record</a>
</div>
<!-- Modal Structure -->
<div id="recordModal" class="modal">
  <div ng-include="'partials/audio.html'"></div>
</div>




