<h1>Register</h1>

<div class="container">
  <form class="col s12" ng-submit="register()">
  <div class="row">
      <div>
        <input placeholder="user name" id="displayName" spellcheck="false" type="text" ng-model="displayName">
      </div>
      <div>
        <input placeholder="email" id="email" spellcheck="false" type="email" class="validate" ng-model="email">
      </div>
      <div>
        <input placeholder="password" id="password" spellcheck="false" type="password" class="validate" ng-model="password">
      </div>
      <div>
        <input placeholder="password confirmation" id="confirmation" spellcheck="false" type="password" class="validate" ng-model="confirmation">
      </div>
      <a ng-click='register()' class="btn">Register</a>
    </div>
  </form>
</div>
