<h1>View Jam</h1>

<!-- NAV -->
  <nav>
    <div class="nav-wrapper">
      <span class="brand-logo left">LOGJAM</span>
      <ul class="right">
        <li><a ng-href="/#/myJams">My Jams</a></li>
        <li><a ng-href="/#/newJam">New Jam</a></li>
        <li><a ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>



<!-- TEST -->

<form ng-submit="saveEditJam()">
  
  <div>
    <input id="title" name="title" type="text" ng-model="title" placeholder="title">
    <label for="title"></label>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea  id=" textarea1" name="lyric" class="materialize-textarea" type="textarea" ng-model="lyric" placeholder="lyrics"></textarea>
    </div>  
  </div>
  <button type="submit" class="btn">Save</button>
</form>






<!-- 
<p>{{jam.title}}</p>
<pre><span>{{jam.lyric}}</span></pre>
 --><!-- <p>{{jam.audio}}</p> -->

<!-- ng-click will pass in songObj which has access to song ID-->
<a ng-click='deleteJam(jam)' class="btn">Delete</a>

