
<ul class="navigation">
  <li><a ng-href="/#/myJams" class="btn">My Jams</a></li>
  <li><a ng-href="/#/newJam" class="btn">New Jam</a></li>
  <li><a ng-href="/#/audio" class="btn">Record</a></li>
  <li><a ng-click="logout()" class="btn">Logout</a></li>
</ul>
<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>
<div class="site-wrap">


  <form ng-submit="saveEditJam()">
    <div>
      <input id="title" name="title" autocomplete="off" type="text" ng-model="title" placeholder="title">
      <label for="title"></label>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="v-textarea" name="lyric" type="textarea" ng-model="lyric" placeholder="lyrics"></textarea>
      </div>  
    </div>

  </form>

  <div class="container">
    <div class="center-align">
      <div class="row">
      <!-- ng-click will pass in songObj which has access to song ID-->
        <a ng-click='deleteJam(jam)' class="btn">Delete</a>
      <!-- Modal Trigger -->
        <a class='modal-trigger btn' href='#recordModal' modal>Record</a>
        <button type="submit" class="btn">Save</button>
    </div>  
  </div>  
</div>

<!-- Modal Structure -->
<div id="recordModal" class="modal v-modal-width">
  <div ng-include="'/partials/audio.html'"></div>
</div>
